

body{
font-family: normal;
max-width: 100%;
min-width: 100%;
}
.nav3{
	background:#Ff6b00 ;
	
	
	
}
.color{
		background:#Ff6b00 ;
		width:100%;
		color:white;
}
/* navegacion colores click  */
#miBoton { 
  padding: 10px; 

  color: white; 

  border-right: #E3DCDA  1px solid;
  border-left: #E3DCDA  1px solid;
 height:45px ;
max-width:100vw;
min-width:20vw;
 text-align:center;
  
} 
#miBoton:hover { 
  padding: 10px; 
  /* background: #F2883E;  */
  color: black; 
} 
#miBoton:active { 
  padding:10px; 
  /* background: gray;  */
  color: white; 
}
 .ingreso{ 
	width:10%;
    max-width:50%; 
 }
 
 .ingreso1{
	max-width:20%;
	min-width:13%;

 }

 

 

.contenedorC{
	
	width:90%;
 background:white;
	margin: 0 auto;
 /* opacity:0.9; */
   


}
.tituloIn{
	
	/* background:#Ff6b00 ; */
	width:100%;
	padding:10px;
	font-weight: 400;
	
opacity: 0.7;
	 font-size:200%;
}

.tamaño{
	padding:5px;
	width:15%;
	color:white;
	
}
.uno{
	
	width:100%;
	height:50vh;
	 /* background:yellow; */
} 
.imagenc{
	
	width:43%;
	/* background:red; */
	float:left;
		height:50vh;
}

/* Simagen responsiva */
.responsiva {
	width:90%;


   max-height:50vh;
   display:block;
margin:auto;
}

.textDerecha{
	width:57%;  
   /* background:blue; */
   float:right;
     	height:50vh;
   word-wrap: break-word;
	
}


.p1{ 
font-weight: 450;
	 
	 font-size:250%;
	
  
  }
  
  


  

 
  .imagenesseguidas1{
	
	     column-span:all;
	 	 /* background: yellow;  */
 }
 
  .texto2{
	
	 width: 65%;

  display: inline-block;
     column-span:all;
	
 }
  
  .texto3{
	
	 width:30%;
		background: #F3F6F7;
	  
     column-span:all;
	 float:right;
 display: flex;
  justify-content: center;
  align-items: center;
	
 }
 
 
 .p4{ 
 font-family: "Latin Modern Roman 10";
  font-style: oblique;
   font-size:1vw;
   font-size:4vh;
font-weight: 300;
width:90%;
margin-top:5%;
 text-align:center;
margin-left:center;

  
  } 
 .imagenesseguidas{
	 width:100%;
	 /* background: yellow; */
	   display: inline-block;
	     column-span:all;
		 
	 
 }
 .portafolio-img{
	max-width: 50%; 
	min-width: 50%; 
	 display:block;
margin:auto;
 } 
  .portafolio{

  width: 40%;
  margin: auto;
}
.portafolio h1{
  text-align: center;
   font-size:1vw;
   font-size:3vh;
  margin: 15px 0px 40px;
}
.portafolio-container{
  display: flex;
  justify-content: space-between;
}
.portafolio-img{
  transition: all 0.3s;
}
.portafolio-item{
  width:20%;
  height:20vh;
  position: relative;
  overflow: hidden;
  /* background:red; */
  
}
.portafolio-text{
  position: absolute;
  bottom: 0;
width:100%;
text-align:center;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  transform: translateY(100%);
  transition: all 0.5s ease-out;
   font-size:1vw;
   font-size:2vh;
}
.portafolio-text p{
  text-align: center;
  font-size:1vw;
   font-size:2vh;
}
.portafolio-item:hover .portafolio-text{
  transform: translateY(0%);
   font-size:1vw;
   font-size:2vh;
}
.portafolio-item:hover .portafolio-img{
  transform: scale(1.15);
   font-size:1vw;
   font-size:2vh;
}
  
  
  .tablaGrupo{
	  

	  /* background:green; */
	 width:100%;


  }
 table.width200,table.rwd_auto {border:1px solid #ccc;width:100%;margin:0 0 50px 0}
		.width200 th,.rwd_auto th {background:#F16E1A; padding:5px;text-align:center; color:black; border-right: 1px solid #ccc;}
		.width200 td,.rwd_auto td {border-bottom:1px solid #ccc;padding:5px; font-size:2vh; border-right: 1px solid #ccc;}
		.width200 tr:last-child td, .rwd_auto tr:last-child td{border:0 ; border-right: 1px solid #ccc;}
		
	.rwd {width:100%;overflow:auto;}
		.rwd table.rwd_auto {width:auto;min-width:100%}
			.rwd_auto th,.rwd_auto td {white-space: nowrap;}
			
	@media only screen and (max-width: 760px), (min-width: 768px) and (max-width: 1024px)  
	{
	
		table.width200, .width200 thead, .width200 tbody, .width200 th, .width200 td, .width200 tr { display: block; }
		
		.width200 thead tr { position: absolute;top: -9999px;left: -9999px; }
		
		.width200 tr { border: 1px solid #ccc; }
		
		.width200 td { border: none;border-bottom: 1px solid #ccc; position: relative;padding-left: 50%;text-align:left }
		
		.width200 td:before {  background:#fc7323;   font-family:  "Latin Modern Roman 10"; 
	  font-style: oblique;  padding:5px; 
	  font-weight: 700; position: absolute; top: 6px; left: 6px; width: 45%; padding-right: 10px; white-space: nowrap;}
		
	
		.width200 td:nth-of-type(1):before { content: "PERFIL"; }
		.width200 td:nth-of-type(2):before { content: "AUTORES"; }
		.width200 td:nth-of-type(3):before { content: "ROL"; }
		.width200 td:nth-of-type(4):before { content: "CONTACTO"; }
	}
		
		.descarto {display:none;}
		.fontsize {font-size:10px}
	
	
	/* Smartphones (portrait and landscape) ----------- */
	@media only screen and (min-width : 320px) and (max-width : 480px) 
	{
		body { width: 320px; }
		.descarto {display:none;}
	}
	
	/* iPads (portrait and landscape) ----------- */
	@media only screen and (min-width: 768px) and (max-width: 1024px) 
	{
		body { width: 495px; }
		.descarto {display:none;}
		.fontsize {font-size:10px}
	}
  
  

	.t5{
		width:15%;
   
		font-family:  "Latin Modern Roman 10"; 
		font-style: oblique;   font-size:2vh; 
		font-weight: 700;
	} 
   .t2{
	  width:25%;

	  font-family:  "Latin Modern Roman 10"; 
	  font-style: oblique;   font-size:2vh; 
	  font-weight: 700;
  } .t3{
	  width:28%;

	  font-family:  "Latin Modern Roman 10"; 
	  font-style: oblique;   font-size:2vh; 
	  font-weight: 700;
  } .t4{
	  width:10%;

	  font-family:  "Latin Modern Roman 10"; 
	  font-style: oblique;   font-size:2vh; 
	  font-weight: 700;
  }
  
  .centrarGr{
	  text-align:center;
	  border-right: 1px solid #ccc;
	  font-size:2vw;
  }
  .margend{
	  border-right: 1px solid #ccc;
  }
  footer  {
	
  background: #5B5D5E;
  height: 23vh;
	font-size:3vw;
   font-size:2vh;
  color: white;
width:100%;
    
 
 
  }
  
  .divFp{
	    column-span:all;
		overflow: hidden;
		 position: relative;
		 /* background:orange; */

  }
  .div1F{
	  float:left;

	  /* background:yellow; */
		margin-top:2%;
	width:20%;
	height:15vh;
	position:relative;

  }
  
  .div2F{
	float:right;
	
	margin-top:2%;
	width:20%;
	height:15vh;
	
  }
   .div3F{
	      float:left;
	  /* background:green; */
	
		margin-top:2%;
	width:60%;
	height:15vh;
	text-align:center;
  }
.imagfooter{
	max-width:35%;
	display:block;
    margin:auto;
}


.imag2footer{
	
	max-width:85%;
	display:block;
	margin:auto;
} 

/* zoom para imagenes de perfil */  
  
/* img.zoom {
	max-width: 72%;
	min-width: 72%;
	 max-height: 22vh;   
    min-height: 10vh;
	 -webkit-transition: all .2s ease-in-out;
	 -moz-transition: all .2s ease-in-out;
	 -o-transition: all .2s ease-in-out;
	 -ms-transition: all .2s ease-in-out;
 } */

 img.zoom {
    width: 72%;
    max-height: 22vh;
    min-height: 10vh;
    transition: all 0.2s ease-in-out;
}

img.zoom:hover {
    transform: scale(1.1); /* Aumentar la imagen un 10% al pasar el ratón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agregar sombra */
}
  
 .transition {
	 -webkit-transform: scale(1.3); 
	 -moz-transform: scale(1.3);
	 -o-transform: scale(1.3);
	 transform: scale(1.3);
 }
 
  